@import "bootstrap/dist/css/bootstrap.min.css";

*{
    margin: 0;
    padding: 0;
}

.containerId{
    background: white;
    width: 300px;
    height: auto;
    margin: auto;
}
.containerId #exercise{
    padding: 3rem;
  
}
p{
    font-size: 1.5rem;
    color:black;
    padding: 10rem;
}